<div id="detailsModal" class="modal-pane modal">
    <div class="details-cont"> 
        <button id="closeDetails">X</button>
        <div class="details-group">
            <p class="details-label">Name</p>
            <p id="detailName" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Type</p>
            <p id="detailType" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Size</p>
            <p id="detailSize" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Created</p>
            <p id="detailDate" class="details-data"></p>
        </div>
    </div>
</div>