<div id="details-modal" class="modal"> 
    <div class="details-cont">
        <button id="closeDetails">X</button>
        <div class="details-group">
            <p class="details-label">Name</p>
            <p id="detail-name" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Type</p>
            <p id="detail-type" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Size</p>
            <p id="detail-size" class="details-data"></p>
        </div>
        <div class="details-group">
            <p class="details-label">Created</p>
            <p id="detail-date" class="details-data"></p>
        </div>
    </div>
</div>