<div class="options-menu" id="optionsMenu">
  <button>Details</button>
  <button id="optionsDeleteBtn">Delete</button>
  <button>Rename</button>
  <button>Make a copy</button>
  <a href="" id="optionsDlBtn">Download</a>
  <button id="optionsShareBtn" data-id="">Share</button>
  <button>Move to</button>
</div>