<div class="options-menu" id="optionsMenu">
  <button>Details</button>
  <button>Delete</button>
  <button>Rename</button>
  <button>Make a copy</button>
  <button>Download</button>
  <button>Move to</button>
</div>