<div class="options-menu" id="optionsMenu">
  <button>Details</button>
  <button>Delete</button>
  <button>Rename</button>
  <button>Make a copy</button>
  <a href="" id="options-dl-btn">Download</a>
  <button>Move to</button>
</div>