<div 
class="options-menu" 
id="optionsMenu"
data-activeId=""
data-activeType=""
data-activeName="">
  <button id="optionsDetailsBtn">Details</button>
  <button id="optionsDeleteBtn">Delete</button>
  <button id="optionsRenameBtn">Rename</button>
  <button id="optionsCopyBtn">Make a copy</button>
  <a href="" id="optionsDlBtn">Download</a>
  <button id="optionsShareBtn">Share</button>
  <button id="optionsMoveBtn">Move to</button>
</div>