<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title><%= title %></title>
</head>
<body>
  
  <section class="hero-banner">
    <h1>Gooble Drive</h1>
    <h3>Need storage? We'll gobble up your files for you. </h3>
  </section>

  <a href="/sign-up">Sign up</a>
  <div class="members-login">
    <p>Already a member?</p>
    <a href="/login">Log in</a>
  </div>

</body>
</html>